<header>
  <!--app-nav: Receives from the variable "buttonClick" an event containing the value of "ISLoggedIn" at nav.component, which is then used to update the local variable "IsLoggedIn" and later passsed
  to directory.component to hide/show profile button-->
  <!--app-nav: Sends the local app.component object "cliente" to populate the input variable "cliente" at nav.component-->
  <app-nav (buttonClick)="updateLogIn($event)" [cliente]="cliente"></app-nav>
  <!--app-jumbotron is only shown if the client is not at the signup page-->
  <app-jumbotron *ngIf="IsLoggedIn!=='signup'"></app-jumbotron>
</header>

<!--The entire section below is only displayed if the client is not in the signup section-->
<section *ngIf="IsLoggedIn!=='signup' " class=" container rounded-sm py-4">

  <div class="row">
    <div class="col-3">
      <!--App diretory receives the IsLogggedIn variable to display/hide the profile tab. This Variable is updated at the parent component when user clicks on the nav.component buttons-->
      <!--App.directory send back info from clicks on the different tabs so app.component can render the main container components.-->
      <app-directory [IsLoggedIn]="IsLoggedIn" (buttonClick)="updateCurrentPage($event)" [where]="where">
      </app-directory>

    </div>
    <!--Displays the component corrsponding to the tab that the user has clicked. The name of the clicked tab is stored in "where"-->
    <div class="col-9 text-dark" [ngSwitch]="where">

      <app-map *ngSwitchCase="'Index'"></app-map>
      <app-coupons *ngSwitchCase="'Coupons'"></app-coupons>
      <app-contact *ngSwitchCase="'Contact'"></app-contact>
      <!--Direct binding of profile with app.component for the variable cliente-->
      <app-profile *ngSwitchCase="'Profile'" [(cliente)]="cliente"></app-profile>



    </div>
  </div>
</section>

<!--Section below is only displayed if the user is in signup-->
<section *ngIf=" IsLoggedIn=='signup'">
  <app-signup></app-signup>
</section>
<app-footer>
</app-footer>
