                                 <nav
                                   class="navbar navbar-expand-sm bg-light text-info justify-content-between text-info fixed-top">
                                   <a href="#" class="navbar-brand"> <i
                                       class="fas fa-parking fa-2x text-info self-center-align"></i> </a>
                                   <h1 class="self-center-align text-info">Park finder</h1>
                                   <!-- Toggler/collapsibe Button -->

                                   <button class="navbar-toggler" type="button" data-toggle="collapse"
                                     data-target="#mimenu">
                                     <span class="navbar-toggler-icon "></span>
                                   </button>

                                   <div class="collapse navbar-collapse bg-light justify-content-end" id="mimenu">

                                     <ul class="navbar-nav">
                                       <!--Signup and Login buttons are hidden when the user is logged in-->
                                       <li class="nav-item active  show-at-logged-out"
                                         [ngClass]=" {'d-none' : IsLoggedIn=='true'}">
                                         <a class="nav-link" (click)=login_logout($event) href="#">Sign up </a>
                                       </li>

                                       <li class="nav-item  show-at-logged-out"
                                         [ngClass]=" {'d-none' : IsLoggedIn=='true'}">
                                         <a class="nav-link" id="login_button" href="#" (click)=login_logout($event)>Log
                                           in</a>
                                       </li>
                                       <!--Signup and Login buttons are hidden when the user is logged out or signing up-->
                                       <li class="nav-item show-at-logged-in"
                                         [ngClass]=" {'d-none' : IsLoggedIn!=='true'}">
                                         {{cliente.inputname}} {{cliente.inputsurname}}
                                       </li>
                                       <li class="nav-item  show-at-logged-in "
                                         [ngClass]=" {'d-none' : IsLoggedIn!=='true'}">
                                         <a class=" nav-link" id="logout_button" href="#"
                                           (click)=login_logout($event)>Log
                                           out</a>

                                       </li>



                                       <!-- <li class="nav-item">
                    <a class="nav-link" href="#1">section1</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#2">section2</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#3">section3</a>
                  </li> -->
                                     </ul>
                                   </div>
                                   <!-- <form class="form-inline" action="/action_page.php">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-info" type="submit">Search</button>
        </form> -->

                                 </nav>
