<body data-spy="scroll" id="signup-body" data-target=".navbar" data-offset="50">
  <section class="container-fluid" id="main">
    <section class="container box">
      <div class="row justify-contentter align-self-center">
        <div class="col-3">&nbsp;</div>
        <div class="col-6 text-center">
          <div class="bg-info parkfinder">
            <h1>Park Finder</h1>
          </div>
        </div>
        <div class="col-3">&nbsp;</div>
      </div>
      <div class="row text-center">
        <div class="col-12">
          <h1>Sign up</h1>
        </div>
      </div>
      <section class="formdiv">
        <form class="" class="form-control" method="post" value="">

          <div class="row rowform">
            <div class="col-3 self-center-align">
              <label for="inputname">Name</label>
            </div>
            <div class="col-9 self-center-align">
              <div class="form-group">
                <input type="text" class="form-control" id="inputname" name="name" placeholder="Enter Name" />
              </div>
            </div>
          </div>

          <div class="row rowform align-items-center">
            <div class="col-3">
              <label for="inputsurname">Surname</label>
            </div>
            <div class="col-9">
              <div class="form-group">
                <input type="text" class="form-control" id="inputsurname" name="surname" placeholder="Enter Surname" />
              </div>
            </div>
          </div>


          <div class="row rowform align-items-center">
            <div class="col-3">
              <label for="inputemail">Email</label>
            </div>
            <div class="col-9">
              <div class="form-group">
                <input type="email" class="form-control" id="inputemail" name="email" placeholder="Enter email" />
              </div>
            </div>
          </div>


          <div class="row rowform align-items-center">
            <div class="col-3">
              <label for="password">Password</label>
            </div>
            <div class="col-9">
              <div class="form-group">
                <input type="text" class="form-control" id="password" name="password" placeholder="Enter password" />
              </div>
            </div>
          </div>


          <div class="row rowform align-items-center">
            <div class="col-3">
              <label for="passwordrep">Password repeat</label>
            </div>
            <div class="col-9">
              <div class="form-group">
                <input type="text" class="form-control" id="passwordrep" name="passwordrep"
                  placeholder="Repeat password" />
              </div>
            </div>
          </div>





          <div class="row rowform">
            <div class="col-3">
              <label for="inputdni">DNI</label>
            </div>
            <div class="col-6">
              <div class="form-group">
                <input type="text" class="form-control" id="inputdni" name="dni" placeholder="Enter DNI" onkeyup=""
                  maxlength="9" />
              </div>
            </div>
            <div class="col-3" id="DNIletter"></div>

          </div>
          <div class="row rowform">
            <div class="col-3">
              <label for="inputbirthday">Birthday</label>
            </div>
            <div class="col-5">
              <div class="form-group">
                <input type="date" class="form-control" id="inputbirthday" name="age" placeholder="Enter birth"
                  onchange="" onkeyup="" data-date-end-date="0d" />
              </div>
            </div>
            <div class="col-4" id="ageresult"></div>
          </div>
          <div class="row rowform">
            <div class="col-3">
              <label for="inputcar">Car Plate</label>
            </div>
            <div class="col-5">
              <div class="form-group">
                <input type="text" class="form-control" id="inputcar" name="carplate" placeholder="Enter car plate" />
                <div class="col-4"></div>
              </div>
            </div>
          </div>
          <div class="row rowform">
            <div class="col-3">
              <label for="inputenv">Environment class</label>
            </div>
            <div class="col-5">
              <div class="form-group">

                <select class="form-control" onchange="" id="inputenv" name="envclass">
                  <option value="invalid" class="disabled">-- Select class --</option>

                  <option value="B">B</option>
                  <option value="C">C</option>
                  <option value="ECO">ECO</option>
                  <option value="0">0</option>
                </select>
              </div>

            </div>
            <div class="col-4" id="carpercentage"></div>
          </div>


          <div class="row rowform">
            <div class="col-3">
            </div>
            <div class="col-9">
              <button type="submit" id="buscar" class="btn btn-info">Submit</button>
            </div>


          </div>

          <br>
          <div class="row">
            <div class="col-3">
            </div>
            <div class="col-3">
              <button type="button" class="btn btn-info" (click)="calculatepricelist()" data-toggle="collapse"
                data-target="#pricelist">Show price list</button>

            </div>
            <div id="pricelist" class="collapse col-6">
            </div>
          </div>

        </form>
      </section>
    </section>
  </section>
</body>
