<ul class="list-group text-info">
  <!--Classes are added to the li tags depending on the value of the "where" variable-->
  <!--The click event is sent to the current function-->
  <li [ngClass]="
      where == 'Index'
        ? 'list-group-item active text-light rounded'
        : 'list-group-item border-0'
    " (click)="current($event)">
    <span>Index</span>
  </li>
  <li [ngClass]="
      where == 'Coupons'
        ? 'list-group-item active text-light rounded'
        : 'list-group-item border-0'
    " (click)="current($event)">
    <span [ngClass]="{ isactive: where == 'Coupons' }">Coupons</span>
  </li>
  <li [ngClass]="
      where == 'Contact'
        ? 'list-group-item active text-light rounded'
        : 'list-group-item border-0'
    " (click)="current($event)">
    <span>Contact</span>
  </li>
  <!--Display the "profile" tab if IsLoggedIn is "true"-->
  <li *ngIf="IsLoggedIn=='true'" [ngClass]=" where=='Profile' ? 'list-group-item active text-light rounded'
    : 'list-group-item border-0' " (click)="current($event)">
    <span>Profile</span>
  </li>
</ul>
