<div class="col-9  text-dark ">
  <h1>Profile</h1>
  <div class="container text-justify" id="div-for-profile-info">
    Nombre <input [(ngModel)]="cliente.inputname"><br>
    Apellidos <input [(ngModel)]="cliente.inputsurname"><br>

    DNI <input [(ngModel)]="cliente.inputdni"><br>
    Fecha de nacimiento <input [(ngModel)]="cliente.inputbirthday"><br>
    Coche <input [(ngModel)]="cliente.inputcar"><br>
    Environment Class <input [(ngModel)]="cliente.inputenv"><br>
  </div>
</div>

<div *ngFor="let item of cliente | keyvalue">
  Key: <b>{{item.key}}</b> Value: <b>{{item.value}}</b>
</div>
